[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
flask-cors = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"
waitress = "*"
pytest = "*"
flask-testing = "*"
pylance = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
dev = "flask run"
seed = "python seed.py"
start = "waitress app:app"
test = "pytest"
coverage = "pytest --cov-report term-missing --cov=."
